body {
  background-color:pink;
  font-family: system-ui, -apple-system, sans-serif;
}

p {
  color: blue;
  font-size: 30px;
}

.btn {
  color: yellow;
  background-color: black;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
