body {
  background-color:pink;
  font-family: system-ui, -apple-system, sans-serif;
}

p {
  color: blue;
  font-size: 30px;
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  background-color: blue;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  text-align: center
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
